<% if user_signed_in? %>
    <div id="map"></div>


    <div class="mypagepost" id="index-infomation-area">

        <i class="fas fa-chevron-down heading-top" id="infoarea-close"></i>

        <div class="usericonarea">
            <% if @user.image.present? %>
                <%= image_tag @user.image_url, size: "30x30",class: 'usericon_userindex' %>
            <% else %>
                <i class="fas fa-user-circle fa-3x" style="color:#B0AFAF"></i>
            <% end %>
            <p class="username">
                <%= @user.name  %>
            </p>
            <div class="twoicons_mypage"> 
                <%= link_to(content_tag(:i, '', class: 'fas fa-user-edit'), edit_user_registration_path) %>
            

                    <!-- Button trigger modal -->
                    <i class="fas fa-sign-out-alt" data-toggle="modal" data-target="#exampleModalCenter"></i>
                    

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    本当にログアウトして大丈夫ですか？さみしいなあ
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">いいえ</button>
                                    <%= link_to "ログアウト", destroy_user_session_path,class: "btn btn-primary", method: :delete %>
                                </div>
                            </div>
                        </div>
                    </div>



            </div>
        </div>



        <i class="fas fa-user-circle　fa-2x"></i>
        <% @genres.each do |g| %>
            <div class="genreheading">
                <i class="fas fa-location-arrow fa-2x fa-rotate-90" style="color: <%= g.color %>; transform: translate(13px,-11px) rotate(135deg); "></i>
                <h1 class="genrename"><%= g.name %></h1>
            </div>

            <div class="place-content"> 
                <% @places=g.places.where(user_id: current_user.id).order("rate DESC") %>  <%#  @placesの中に、そのgenreに関連する投稿かつログインユーザーが投稿した投稿を表示　%>
                <% if @places.count > 0 %>
                    <% @places.each do |p| %>
                        <div class="postcard_mypage">
                            <div class="bookmarkarea_post">
                                <% if user_signed_in? %>
                                    <% if current_user.already_bookmarked?(p) %>
                                        <%= link_to place_bookmark_path(id: p.id, place_id: p.id), method: :delete do %>
                                            <i class="fas fa-bookmark"></i>
                                        <% end %>
                                    <% else %>
                                        <%= link_to place_bookmarks_path(id: p.id, place_id: p.id), method: :post do %>
                                            <i class="far fa-bookmark"></i>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            </div>

                            <div class="usericonarea_post">
                                <% if @user.image.present? %>
                                    <%= image_tag @user.image_url, size: "35x35",class: 'usericon_userindex' %>
                                <% else %>
                                    <i class="fas fa-user-circle fa-2x" style="color:#B0AFAF"></i>
                                <% end %>
                                <p class="username_post">
                                    <%= @user.name  %>
                                </p>
                            </div>  
                            <div class="imgarea_post">
                                <% if p.image.present? %>
                                    <%= image_tag p.image_url, size: "150×200",class: "img_post" if p.image? %>
                                <% else %>
                                    <%= image_tag "noimage.png",class: 'postnoimage' %>
                                <% end %>
                            </div>
                            <p class="name_post">
                                <%= p.name %>
                            </p>

                            <div class="threeicons_post">
                                <div class="ratestar_post">
                                    <% if p.rate.present? %>
                                        <%  p.rate.times do %>
                                            <i class="fas fa-star"></i>
                                        <% end %>
                                        <%  (5-p.rate).times do %>
                                            <i class="far fa-star"></i>
                                        <% end %>
                                    <% end %>
                                </div>

                                
                                <div class="twoicons_post">
                                     <%= link_to(content_tag(:i, '', class: 'fas fa-ellipsis-h'), place_path(p.id),data: {"turbolinks"=>false}) %>
                                
                                    <% if user_signed_in? %>
                                        <% if current_user.already_liked?(p) %>
                                            <%= link_to place_like_path(id: p.id, place_id: p.id), method: :delete do %>
                                                <i class="fas fa-heart"></i>
                                            <% end %>
                                            <b class="likecounts">
                                                <%= p.likes.count %>
                                            </b>
                                        <% else %>
                                            <%= link_to place_likes_path(id: p.id, place_id: p.id), method: :post do %>
                                                <i class="far fa-heart"></i>
                                            <% end %>
                                            <b class="likecounts">
                                                <%= p.likes.count %>
                                            </b>
                                        <% end %>
                                    <% else %>
                                        <i class="far fa-heart"></i><%= p.likes.count %>
                                    <% end %> 
                                </div>     
                            </div>

                        </div>            
                    
                    <% end %>
                <% else %>
                    <p class="nil-message">投稿まってます！</p> 
                <% end %>
            </div>
           
        <% end %>
    </div>
 
    

<% end %>

<script>

function initMap(){
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.6585, lng: 139.7486},
    zoom: 6,
  });
    <% @genres.each do |g| %>
        <% @places=g.places.where(user_id: current_user.id) %>
        <% @places.each do |place| %>
            <% results=Geocoder.search(place.name) %>
            <% if results.present? %>
                <% @latlng=results.first.coordinates %>
                (function(){
                    var contentString = 'アドレス：<%= link_to place.name %>'; 
                    var infowindow = new google.maps.InfoWindow({
                        position:{lat: <%= @latlng[0] %>, lng: <%= @latlng[1] %>},
                        content: contentString
                    });
                    var marker = new google.maps.Marker({
                        position:{lat: <%= @latlng[0] %>, lng: <%= @latlng[1] %>},
                        map: map,
                        icon: {
                            fillColor: "<%= place.genre.color %>",                //塗り潰し色
                            fillOpacity: 0.8,                    //塗り潰し透過率
                            path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW, //円を指定
                            scale: 6,                           //円のサイズ
                            strokeColor: "<%= place.genre.color %>",              //枠の色
                            strokeWeight: 1.0                    //枠の透過率
                        },
                        title: contentString
                    });
                    marker.addListener('click', function() {
                        infowindow.open(map, marker);
                    });
                    })();
            <% end %>
        <% end %>
    <% end %>
    }

    // infoウィンドウのクローズボタン実装
    const infoareaclose = document.getElementById('infoarea-close'); // 矢印アイコンinfoareaのcloseボタンのDOM定義
    const target = document.getElementById('index-infomation-area'); // 新規投稿infoareaのウィンドウの定義

    infoareaclose.addEventListener('click',function(){
        if (infoareaclose.className === 'fas fa-chevron-down heading-top'){ //もし矢印が上向いてたら
            infoareaclose.className = 'fas fa-chevron-down heading-down';     // 矢印を下向かせる
        target.classList.add('up');                                       // newpostpageのクラスにupを追加 
        } else {                                                            // もし矢印が下向いてたら
            infoareaclose.className = 'fas fa-chevron-down heading-top';       // 矢印を上向かせる
        target.classList.remove('up');                                     // newpostpageのクラスにupを削除
        }   
    });

    </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyA9yp6zF2P9BMRMMnXzOSE9KfajGbKf7i4&libraries=geometry,places&callback=initMap"></script>